.blog-home {
  width: 70vw;
  display: flex;
  /* justify-content: space-between; */
  margin: 100px auto;
  align-items: center;
  height: 58vh;
}

.home-content {
  margin-right: 10px;
  align-items: center;
  display: flex;
  width: 50%;
}

.home-content h1 {
  font-size: 50px;
  color: grey;
  transform: rotate(-90deg);
}

.home-content b {
  color: #ff7f11;
}

.home-content-list {
  list-style: none;
  width: 100%;
}

.home-content-list li {
  margin: 50px 0px;
}